/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(255, 219, 178);
}

body {
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

.r-contato button {
    padding: 10px 40px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: aliceblue;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(98, 29, 161);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.classeh2 {
    color: rgb(55, 0, 95);
    font-size: 38px;
    text-align: center;
}

h2.classeh2 span {
    color: #d14900
}

/*Cabecalho*/
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 110px;
    height: auto;
}

header a {
    color: rgb(130, 130, 130);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: black;
    transform: scale(1.10);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.r-contato button:hover {
    box-shadow: 1px 1px 8px #d67200;
    transition: .2s;
}

/*TOPO DO SITE*/
section.toposite {
    padding: 40px 4%;
}

section.toposite.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.toposite .textos h1 {
    font-size: 54px;
    color: black;
    line-height: 40px;
    margin-top: 40px;
    text-align: center;
}

.toposite .textos h1 span {
    color: rgb(98, 9, 182);
    font-size: 58px;
}

h1 .parte2 {
    color: rgb(255, 94, 0);
    font-size: 56px;
}

.toposite .textos p {
    color: black;
    margin: 40px 0;
}

.imgtopo {
    margin: auto;
}

.toposite .imgtopo img {
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*ESTILO NOSSOS SERVIÇOS*/
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especial-box svg {
    width: 120px;
    height: auto;
}

.especialidades .especial-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especial-box {
    margin-top: 45px;
}

.especialidades .especial-box h3{
    text-align: center;
}

.especialidades .especial-box p{
    text-align: justify;
}